.bg-image {
  background-image: url("./assets/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
  }
}
